#these are all needed
influx.url=http://myinfluxserver:8086
#whatever if you dont have auth on
influx.user=ruuvi
#whatever if you dont have auth on
influx.pass=ruuvi
#the name of "database" to put the values in the influxdb. created if not yet exists.
influx.databasename=ruuvidb
